// Font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// Variables
$White: hsl(0, 0%, 100%);
$Grey: hsl(0, 0%, 20%);
$Dark-Grey: hsl(0, 0%, 12%);
$Off-Black: hsl(0, 0%, 8%);
$Green: hsl(75, 94%, 57%);

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Content
body {
    font-family: 'Inter', sans-serif;
    background-color: $Off-Black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .card {
        width: 340px;
        height: 550px;
        background-color: $Dark-Grey;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 0.5em;
        text-align: center;
    }
}

img {
    width: 90px;
    margin-top: 40px;
    border-radius: 50%;
}

.text {
    padding: 20px;

    h1 {
        font-weight: 500;
        color: $White;
        font-size: 1.5rem;
    }

    span {
        font-weight: 700;
        color: $Green;
        font-size: 0.9rem;
    }
}

p {
    color: $White;
    font-size: 0.9rem;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;

    li {
        background-color: $Grey;
        font-weight: 600;
        font-size: 0.9rem;
        border-radius: 0.5em;
        cursor: pointer;

        a {
            text-decoration: none;
            color: $White;
            display: block;
            padding: 13px 85px;
        }
    }
}

li:hover a {
    color: $Dark-Grey;
}

li:hover {
    background-color: $Green;
    transition-duration: 0.2s;
}