@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 8%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main .card {
  width: 340px;
  height: 550px;
  background-color: hsl(0, 0%, 12%);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5em;
  text-align: center;
}

img {
  width: 90px;
  margin-top: 40px;
  border-radius: 50%;
}

.text {
  padding: 20px;
}
.text h1 {
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
}
.text span {
  font-weight: 700;
  color: hsl(75, 94%, 57%);
  font-size: 0.9rem;
}

p {
  color: hsl(0, 0%, 100%);
  font-size: 0.9rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}
ul li {
  background-color: hsl(0, 0%, 20%);
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 0.5em;
  cursor: pointer;
}
ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  display: block;
  padding: 13px 85px;
}

li:hover a {
  color: hsl(0, 0%, 12%);
}

li:hover {
  background-color: hsl(75, 94%, 57%);
  transition-duration: 0.2s;
}